html, body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  background: #fafafa;
  text-align: center;
  color: #262626;
}

.profile img {
  border-radius: 50%;
  width: 200px;
  margin-top: 15px;
  filter: brightness(120%);
}

.profile img:hover {
  filter: brightness(130%);
}

.profile {
  width: 240px;
  margin: 0 auto;
}

.profile-box {
  will-change: width, height, left, top;
  position: absolute;
}

.introduction {
  margin: auto;
  text-align: center;
  position: relative;
  background: transparent;
  display: block;
}

.highlights img {
  border-radius: 0;
  display: inline-block;
  width: 40px;
  position: absolute;
  z-index: 150;
}

h1 {
  font-size: 30px;
  margin: auto;
  display: inline;
  font-family: 'Open Sans';
  cursor: default;
}

h2 {
  font-size: 30px;
  margin: auto;
  display: inline;
  font-family: 'Open Sans';
  cursor: default;
}

h3 {
  font-size: 30px;
  margin: auto;
  display: inline;
  font-family: 'Open Sans';
  z-index: 100;
  cursor: default;
}

h4 {
  display: block;
  font-size: 15px;
  z-index: 100;
  margin: 0;
  font-family: 'Montserrat';
  cursor: default;
}

h5 {
  display: block;
  position: relative;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 20px;
}

p {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 7px 0;
  max-width: 400px;
  z-Index: 50;
}